<div class="register">
  <div class="card">
    <div class="content">
      <div class="title">
        <h2 class="titleB">Bienvenidos</h2>
        <h2 class="titleC">a</h2>
        <h2 class="titleA">ARTESANIAS</h2>
        <h2 class="gucci">GUCCI</h2>
      </div>
      <div id="alertError"></div>
      <form class="formulario">
        <input 
          placeholder="Nombre"
          type="text"
          id="nameInput"
        />
        <input 
          type="email" 
          placeholder="Correo"
          id="correoInput"
        />
        <span id="btn" class="btn">Verificar</span>
        <a id="next" href="/shop" class="next">Ingresar</a>
      </form>
      <div class="alert">
        <p>Ojo: Todos los datos que pongas en el formulario no se guardaran, es solo para aparentar tener un sistema de cuentas como el de una tienda online</p>
      </div>
    </div>
  </div>
</div>